$theme-panel-width: _rem(400px);

.theme-panel {
	position: fixed;
	width: $theme-panel-width;
	right: -$theme-panel-width;
	top: 0;
	bottom: 0;
	z-index: $app-theme-panel-zindex;
	background: var(--#{$prefix}component-bg);
	transition: right .2s linear;
	border-radius: $border-radius 0 0 $border-radius;

	@if $enable-rtl {
		right: auto;
		left: -$theme-panel-width;
		transition: left .2s linear;
	}

	.close{
		position: absolute;
		right: 36px;
		top: 26px;
		font-size: 14px;
		cursor: pointer;
	}

	.form-control {
		height: fit-content;
	}

	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		height: 30px;
		font-size: 16px;
		color: white;
		background-color: #007aff;
		aspect-ratio: 1/1;

		&.danger {
			background-color: #F03800;
			fill: #F03800;
			height: 20px;
		}

		&.blue {
			background-color: #FFFFFF;
			border: solid 2px #007aff;
			height: 25px;
		}
	}

	.accordion {
		--bs-accordion-bg: white !important;

		.hd {
			color: var(--Lara-Accordion-accordionHeaderTextActiveColor, #343A40);
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
		}



		.blue:hover {
			background-color: #007aff;
		}

		.accordion-item {
			.accordian.header {
				padding: 17.5px;
			}

			ul {
				padding-left: 20px;

				li {
					margin-bottom: 4px;
				}
			}

			.accordion-button {
				background-color: #F8F9FA;

				&:not(.collapsed) {
					color: var(--bs-accordion-active-color);
					background-color: #F8F9FA;
					box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
				}

				&:focus {
					box-shadow: none;
				}
			}


		}

		.accordion-body {
			padding: 7px 17px;

		}
	}

	.tab-pane {
		.col-12 {
			padding: 0;
		}
	}

	& .theme-list {
		margin-bottom: _rem(-4px);
		margin-right: _rem(-4px);
		display: flex;
		flex-wrap: wrap;

		& .theme-list-item {
			margin-bottom: _rem(4px);

			@if $enable-rtl {
				margin-left: _rem(4px);
			}

			@else {
				margin-right: _rem(4px);
			}

			& .theme-list-link {
				width: _rem(28px);
				height: _rem(28px);
				display: block;
				text-decoration: none;
				position: relative;
				border-radius: 30px;
				transition: all .2s linear;

				&:hover,
				&:focus {
					opacity: .6;
				}
			}

			&.active {
				& .theme-list-link {
					&:before {
						content: '\f00c';
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						font-size: _rem(14px);
						line-height: 1;
						color: $white;
						opacity: .4;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;

						@include fontawesome();
					}

					&.bg-white {
						&:before {
							color: $dark;
						}
					}
				}
			}
		}
	}

	.tree {
		position: relative;

		.circle {
			height: 38px;
			background-color: #354ACB;

		}

		.hd {
			font-size: 16px;
			font-weight: 700;
		}


		>ul>li::before {
			content: none;
		}
		
		.fault {
			color: #F03800;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			position: relative;
			font-feature-settings: 'clig' off, 'liga' off;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 150%;


			li {
				position: relative;
				margin: 5px 0;
				// padding-left: 20px; /* Extra space for lines */

				&:before:not(.head),
				&:after {
					content: "";
					position: absolute;
					left: -20px;
					/* Adjust as needed */
				}

				&:before {
					background: #98A0A5;
					top: 12px;
					width: 18px;
					height: 1px;
					z-index: 1;
					/* Ensure lines are on top of other content */
				}

				&:after {
					background: #98A0A5;
					top: -4px;
					width: 1px;
					height: 100%;
					z-index: 0;
				}

				&:first-child:after {
					top: -4px;
					height: 42px;
				}

				&.parent:after {
					top: 12px;
					height: calc(100% + 5px);
				}

				&.parent:last-child:after {
					content: none;
					height: calc(100% + 5px);
					top: 12px;
					border-left: none;
				}

				details {
					margin: 0;

					summary {
						display: block;
						position: relative;
						cursor: pointer;
						padding-left: 20px;
						background: rgba(53, 74, 203, 0.2);
						border-radius: 4px;
						padding: 5px;
						margin-bottom: 5px;

						.fault{
								background: rgba(240, 56, 0, 0.2);

						}
					}

					&[open] summary {
						background: rgba(53, 74, 203, 0.2);
						&.fault{
							background: rgba(240, 56, 0, 0.2);
						}
					}

					>ul {
						padding-left: 35px;
						margin-top: 5px;

						li {
							position: relative;

							&:before {
								content: "";
								position: absolute;
								left: -23px;
								top: 12px;
								/* Ensure alignment with parent's horizontal line */
								width: 20px;
								height: 1px;
								background: #98A0A5;
							}

							&:after {
								content: "";
								position: absolute;
								left: -23px;
								top: 12px;
								/* Align vertical line with horizontal line */
								width: 1px;
								height: calc(100% + 5px);
								background: #98A0A5;
							}

							&:last-child:after {
								content: none;
								height: calc(100% + 5px);
								top: 12px;
								border-left: none;
								/* Remove the vertical line for the last child */
							}
						}
					}
				}
			}
		}
	}





	& .theme-collapse-btn {
		position: absolute;
		left: _rem(-35px);
		top: 30%;
		margin-top: _rem(-15px);
		width: _rem(35px);
		height: _rem(35px);
		line-height: _rem(30px);
		border-radius: 50%;
		padding: 1px;
		border: #007aff solid 2px;
		font-size: _rem(18px);
		color: var(--#{$prefix}component-color);
		background: var(--#{$prefix}component-bg);
		text-align: center;
		// border-radius: $border-radius 0 0 $border-radius;
		box-shadow: 0 0 15px 0 rgba($black, .15);

		@if $enable-rtl {
			left: auto;
			right: _rem(-30px);
			border-radius: 0 $border-radius $border-radius 0;
		}

		@include media-breakpoint-down(sm) {
			top: 35%;
		}
	}

	& .theme-panel-content {
		width: 400px;
		background: var(--#{$prefix}component-bg);
		// padding: _rem(20px);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: scroll;
		margin: 0;
		z-index: 10;
	}

	& .theme-panel-divider {
		height: _rem(1px);
		margin: _rem(15px) 0;
		background-color: var(--#{$prefix}component-border-color);
	}

	& .theme-version {
		margin: 0 0 _rem(5px);
		margin: -2.5px;
		display: flex;
		flex-wrap: wrap;

		& .theme-version-item {
			width: 50%;
			position: relative;
			padding-top: _rem(35%);

			& .theme-version-link {
				display: block;
				text-decoration: none;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 2.5px;

				& .theme-version-cover {
					font-size: _rem(14px);
					font-weight: bold;
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: center;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: top left;
				}

				&.active,
				&:hover {
					&:before {
						content: '';
						position: absolute;
						border: _rem(12px) solid transparent;
						border-left-color: lighten($dark, 45%);
						border-top-color: lighten($dark, 45%);
						left: 0;
						top: 0;
						z-index: 10;
					}

					&:after {
						content: '\f00c';
						position: absolute;
						top: 0;
						left: 0;
						color: $white;
						z-index: 10;
						width: _rem(16px);
						height: _rem(16px);
						line-height: _rem(16px);
						font-size: _rem(10px);
						text-align: center;

						@include fontawesome();
					}
				}

				&.active {
					&:before {
						border-left-color: #007aff;
						border-top-color: #007aff;
					}
				}
			}
		}
	}

	&.active {
		box-shadow: 0 5px 25px rgba($black, .3);

		@if $enable-rtl {
			left: 0;
		}

		@else {
			right: 0;
		}

		& .theme-collapse-btn {
			& .fa {
				&:before {
					content: '\f00d';
				}
			}
		}
	}
}