@import 'default/styles';

::-webkit-scrollbar {
	display: none;
}

/* map-container */
.map-container {
	background-image: url("../assets/img/map.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: start top;
}

.map-box {
	position: relative;
}

.theme-toogle-on-map {
position: absolute;
		left: 750px;
		z-index: 3;
		top: 250px;
	.theme-collapse-btn-map {
		
		margin-top: _rem(-15px);
		width: _rem(35px);
		height: _rem(35px);
		line-height: _rem(30px);
		border-radius: 50%;
		padding: 1px;
		border: #007aff solid 2px;
		font-size: _rem(18px);
		color: var(--#{$prefix}component-color);
		background: var(--#{$prefix}component-bg);
		text-align: center;
		animation: pulse 2s linear infinite;
	}

}



#nav-map {

	position: absolute;
	height: 90px;
	width: 100%;
	padding: 20px 60px;
	justify-content: space-between;
	gap: 24px;
	// font-family: Manrope;

	.buttons {
		border-radius: 2rem;
		background-color: white;
		width: fit-content;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		transition: all 0.3s ease;

		div {
			scale: 1.4;

			.form-check-input:focus {
				border-color: #354ACB;
				outline: 0;
				box-shadow: none
			}
		}

		button {
			border: none;
			white-space: nowrap;
			color: #354ACB;
			border-radius: 2rem;
			padding-left: 20px;
			padding-right: 20px;

			&.active {
				font-weight: 700;
			}
		}
	}


	.search {
		height: 100%;
		color: #202020;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-radius: 2rem;
		background-color: white;
		padding: 12px 18px;
		gap: 10px;

		input {
			border: none;
			height: 100%;
			width: 100%;
			padding: 0;
			text-decoration: none;
			outline: none;
		}
	}


	.end {
		display: flex;
		gap: 12px;

		.btn-e,
		.btn {
			padding: 4px 8px;
			border-radius: 1rem;
			border: none;
			height: fit-content;
			transition: all .4s ease-in-out;
			background-color: white;

			svg {
				path {
					fill: #354ACB
				}
			}

			&.active {
				background-color: #354ACB;
				color: white;

				svg {
					path {
						fill: white;
					}
				}

				i {
					color: white;
					display: inline;
				}
			}

			i {
				margin: 0 4px;
				color: #354ACB;
			}
		}
	}

}

/* Basic button styling */
.pulse-button {
    border: none;
	height: fit-content;
	width: fit-content;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    z-index: 1; 
}


.pulse-button::before {
    content: '';
    position: absolute; /* Positioned relative to the .pulse-button */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #ff5a576e;
    border-radius: 50%;
    // transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none; /* Ensures the pseudo-element doesn't capture pointer events */
    z-index: 0; /* Ensures the pulse effect stays behind the button content */
    animation: pulse-animation 1.5s infinite;
}

/* Animation keyframes */
@keyframes pulse-animation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}

/* Hover effect */
.pulse-button:hover {
    background-color: #0056b3;
}
